:root {
  --clr-neutral-100: hsl(34, 37%, 93%);
  --clr-neutral-400: hsl(0, 0%, 42%);
  --clr-neutral-300: hsl(0 0% 42% / .3);
  --clr-primary-100: hsl(211, 17%, 61%);
  --clr-primary-400: hsl(125, 46%, 14%);
  --clr-accent: hsl(43, 100%, 48%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);
}

.text-accent {
  color: var(--clr-accent)
}

.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.text-primary-100 {
  color: var(--clr-primary-100);
}

.text-black {
  color: #000;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.flow>*+* {
  margin-top: var(--flow-space, 1rem);
}

.flow>p {
  margin-top: var(--flow-space, calc(1rem - .6rem));
  ;
}

.fs-smaller {
  font-size: .95rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.text-accent {
  color: var(--clr-accent)
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: min(calc(100% - 3.5em), 80em);
  margin-inline: auto;
}

.container--larger {
  width: min(calc(100% - 1.5em), 80em);

}

@media(max-width: 50em) {
  .mobile-only {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn {
  background-color: var(--clr-primary-400);
  font-weight: 500;
  padding: .85em 1.7em;
  color: #fff;
  border-radius: .25rem;
}

.header--primary {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--primary {
  padding: 2.25rem 0 0 0;
}

.header--primary__logo {
  position: relative;
}

.toggle {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  min-width: 24px;
  min-height: 24px;
  background-size: cover;
  font-size: inherit;
}

.toggle--nav-open {
  background-image: url('./assets/Menu.svg');
}

.toggle--nav-close {
  background-image: url('./assets/Close.svg');
  z-index: 2;
}

.toggle--back {
  min-height: 32px;
}

.nav--desktop {
  display: none;
}

.nav--mobile {
  background-color: #fff;
  z-index: 1;
  position: absolute;
  inset: 1.25rem -.5rem auto -.5rem;
  border-radius: 1rem;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  box-shadow: 1px 2px 10px var(--clr-neutral-300);
}

@media(min-width: 50em) {
  .nav--mobile {
    display: none;
  }

  .toggle--nav-open {
    display: none;
  }

  .nav--desktop {
    flex: 1;
    display: block;
  }
}

.nav--desktop__list {
  display: flex;
  align-items: center;
  gap: min(5vw, 2.3rem);
}

.nav--desktop__item:first-child {
  margin-left: auto;
}

.nav--desktop__item {
  position: relative;
}

.nav--desktop__item--sign-in {
  margin-left: auto;
}

.nav__dropdown,
.dropdown-bg {
  border-radius: .8rem;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.nav__dropdown {
  transition: .25s ease;
  top: 50px;
  width: 300px;
}

.dropdown-bg {
  width: 100px;
  height: 100px;
  transition: all .3s, opacity .1s, visibility .1s, translate .2s;
}

.dropdown-bg[data-visible=true] {
  visibility: visible;
  opacity: 1;
}

.nav--desktop__item[aria-expanded=true]>.nav__dropdown {
  visibility: visible;
  opacity: 1;
}

.nav--mobile__header {
  padding: 1rem 1em 0 .5em;
}

.nav--mobile[data-visible=true] {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
}

.nav--mobile__item {
  padding: 1rem 1.2rem;
  position: relative;
}

.nav--mobile__btn {
  color: currentColor;
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: .2s ease;
}

.nav--mobile__btn path,
.nav--mobile__link path {
  transition: all .2s ease;
}

.nav--mobile__item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, var(--clr-neutral-300), var(--clr-neutral-300), var(--clr-neutral-300), var(--clr-neutral-300));
  background-size: 10px 3px, 100% 3px;
}

.nav--mobile__btn:hover,
.nav--mobile__link:hover {
  color: #000;
}

.nav--mobile__btn .chevron {
  stroke: var(--clr-neutral-400);
}

.nav--mobile__btn:hover .chevron,
.nav--mobile__link:hover .chevron {
  stroke: #000;
}

.nav--mobile__item--btn {
  display: grid;
  place-items: center;
  padding-block: 1em;
}

.nav-panel {
  transition: .3s ease-in-out;
}

.nav-panel {
  position: absolute;
  inset: 0;
  background-color: #fff;
  transform: translateX(100%);
}

.nav-panel__header {
  padding: 1rem 1.5rem 0rem calc(1.5rem - 6px);
}

.nav-panel[data-visible=true] {
  transform: translateX(0);
}

.nav-panel__list {
  padding: 1em 1.5em 0 1.5em;
}

.nav-panel__title {
  padding: 1em 1.8em 0 1.8em;
}

.nav-panel__item {
  font-weight: 700;
  color: #000;
  position: relative;
}

.nav-panel__item>p {
  margin-left: 30px;
}

.nav-panel__item::before {
  content: '';
  position: absolute;
  left: 0;
  background-image: url('./assets/Spense_Icon.svg');
  width: 24px;
  height: 24px;
}

.nav-panel__item.spense::before {
  background-image: url('./assets/Spense_Icon.svg');
}

.nav-panel__item.fiber::before {
  background-image: url('./assets/Fiber_Icon.svg');
}

.nav-panel__item.gradie::before {
  background-image: url('./assets/Gradie_Icon.svg');
}

.section--hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.25rem;
}

.section__text>p {
  max-width: 60ch;
}

.section--hero__title {
  color: #000;
  font-size: clamp(1.99rem, 7.4vw, 4rem);
  line-height: 1.2em;
}

@media(min-width: 40em) {
  .section--hero {
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
  }

  .section--hero__img {
    width: 50%;
  }
}

.reviews-from {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
}

.reviews-from__icons {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.icon {
  max-width: 24px;
}

.section--companies {
  margin-top: min(10vw, 6rem);
}

.section--companies__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(2vw, 4rem);
}

@media(min-width: 40em) {
  .section--companies__logos {
    gap: 3rem;
  }
}


@media(max-width: 40em) {
  .section--companies__logos>img {
    max-width: 160px;
  }
}